.tool_list {
    width: 200px;
    float: left;
}
.tool_workspace {
    margin-left: 200px;
}
button.tool {
    width: 80%;
    text-align: center;
}

.header {
    text-transform: capitalize;
    margin-top: 50px;
    width: 80%;
    text-align: center;
    font-weight: bolder;
}

.key {
    width: 30%;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

input {
    width: 60%;
    text-align: left;
    display: inline-block;
}